
 <div class="container">
 	<form class="form-horizontal">
	<fieldset>
			<legend>
			Ubicación de municipio
			</legend>
			<input type="text" name="id" id="txtId" value="<%= mi_municipio.id %>" hidden>
			
			<div class="form-group">
			    <label class="control-label col-sm-2" for="departamentos">DEPARTAMENTO:</label>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" name="departamento" id="txtDpto" value="<%= mi_municipio.departamento %>" disabled>
			    </div>

			    <label class="control-label col-sm-2" for="provincias">PROVINCIA:</label>
			    <div class="col-sm-4">
			    	 <input type="text" class="form-control" name="provincia" id="txtProv" value="<%= mi_municipio.provincia %>" disabled>
			    </div>				    
			</div>

			<div class="form-group">
			    <label class="control-label col-sm-2" for="departamentos">DISTRITO:</label>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" name="distrito" id="txtDsto" value="<%= mi_municipio.distrito %>" disabled>
			    </div>		    
			</div>

	</fieldset>
	</form>
</div>
<div class="container">
<form class="form-horizontal">
<fieldset>
		<legend>
		Teléfonos de contacto	
		</legend>
		<input type="text" name="id" id="txtId" hidden>

		<div class="form-group">
		    <label class="control-label col-sm-2" for="tipo">TIPO:</label>
		    <div class="col-sm-4">
		    	<select name="itemsTel" id="listaItemsTel" class="form-control">
					<option value="-" selected>Elija item</option>		
					<% for(var i=0;i<tipos.length;i++) { %>				
						<option value="<%= tipos[i].id %>"><%= tipos[i].nombre %></option>
					<% }; %>				
				</select>
		    </div>

		    

		    <label class="control-label col-sm-2" for="numero">NUMERO:</label>
		    <div class="col-sm-4">
		    	<input type="text" name="numtel" id="txtNumTel" class="form-control"placeholder="Ingrese número" >
		    </div>		
		   			    
		</div>

		<div class="form-group">
			
			<label class="control-label col-sm-2" for="numero">
		    	
		    </label>
		    <div class="col-sm-4">
		    	<table class="table table-hover" id="tTelefonos">
				<thead>
				</thead>
				<tbody id="tbTelefonos">
					<% for (var i=0; i< telefonos.length ; i++) { %>
						<tr id="tr<%= telefonos[i].id %>">							
							<td><%= telefonos[i].tipo %></td>
							<td><%= telefonos[i].numero %></td>
							<td><a id="lnkTel<%= telefonos[i].id %>">Eliminar</a></td>
						</tr>
					<% } %>
				</tbody>
				</table>
		    </div>		

		    <label class="control-label col-sm-2" for="numero"></label>
		    <div class="col-sm-4">
		    	<button id="btnAgregarTel" class="btn btn-success">Guardar</button>
		    </div>		

		</div>

</fieldset>
</form>
</div>

<div class="container">
<form class="form-horizontal">
<fieldset>
	<legend>
	Cuentas sociales
	</legend>	
	
	<div class="form-group">
	    <label class="control-label col-sm-2" for="correo">FACEBOOK:</label>
	    <div class="col-sm-4">
	    	<input type="text" class="form-control" name="correo" id="txtFacebook" value="<%= mi_municipio.urlFacebook %>" placeholder="Ingrese la cuenta de Facebook.">
	    </div>

	    <label class="control-label col-sm-2" for="facebook">TWITTER:</label>
	    <div class="col-sm-4">
	    	<input type="text" class="form-control" name="facebook" id="txtTwitter" value="<%= mi_municipio.urlTwitter %>" placeholder="Ingrese la cuenta de Twitter.">
	    </div>		    
	</div>

	<div class="form-group">
	    <label class="control-label col-sm-2" for="correo">YOUTUBE:</label>
	    <div class="col-sm-4">
	    	<input type="text" class="form-control" name="youtube" id="txtYoutube" value="<%= mi_municipio.urlYoutube %> " placeholder="Ingrese la cuenta de Youtube.">
	    </div>

	    <label class="control-label col-sm-2" for="facebook">CORREO:</label>
	    <div class="col-sm-4">
	    	<input type="text" class="form-control"  name="correo" id="txtCorreo" value="<%= mi_municipio.correo %> " placeholder="Ingrese la cuenta de correo">
	</div>
	
</fieldset>	
</form>
</div>

<div class="container">
<form class="form-horizontal">
<fieldset>
	<legend>Información general</legend>
	<div class="form-group">
   		<label class="control-label col-sm-2" for="comment">LEMA</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="lema" id="txtLema" value="<%= mi_municipio.lema %> " placeholder="¿Cómo se le conoce al municipio?">			
		</div>  	  
	</div>
	<div class="form-group">
   		<label class="control-label col-sm-2" for="comment">MISION:</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="5" id="txtMision" placeholder="Ingrese la misión del municipio."><%= mi_municipio.mision %> </textarea>
		</div>  	  
	</div>
	<div class="form-group">
   		<label class="control-label col-sm-2" for="comment">VISION:</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="5" id="txtVision" placeholder="Ingrese la visión del  municipio."><%= mi_municipio.vision %></textarea>
		</div>  	  
	</div>
	<div class="form-group">
   		<label class="control-label col-sm-2" for="comment">OTROS:</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="5" id="txtValores" placeholder="Ingrese los valores del municipio."><%= mi_municipio.valores %></textarea>
		</div>  	  
	</div>
	<div class="form-group">
   		<label class="control-label col-sm-2" for="comment"></label>
		<div class="col-sm-10">
			<button id="btnGuardarMunicipio">Guardar</button>
		</div>  	  
	</div>
</fieldset>	
</form>
</div>
<script type="text/javascript" src="/js/Municipio/MunicipioEditar.js"></script>	